{% extends 'base.html.twig' %}

{% block title %}
	Atif Jamal Ansari | Register
{% endblock %}


{% block body %}

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Welcome Administrator !</h3>
                <h1 class="display-2 display-2--light">Login to access the dashboard and manage the web application</h1>

            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h5">Enter your credentials to login or if you dont't have an account please register
                    <a href="{{ path('register') }}">here</a>
                </h3>


                <form name="loginForm" id="loginForm" method="POST" action="{{ path('login') }}" novalidate="novalidate">
                    <fieldset>
    
                        <div class="form-field">
                            <input name="username" type="text" id="username" placeholder="Username" value="{{username}}" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="password" type="password" id="password" placeholder="Password" aria-required="true" class="full-width">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="full-width">
                            <label class="add-top">
                                <input type="checkbox">
                                <span class="label-text" name="_remember_me">
                                    <small>
                                        Remember me
                                    </small>
                                </span>
                            </label>
                        </div>

                        <div class="form-field">
                            <button class="full-width btn--primary">Submit</button>
                            <div class="submit-loader">
                                <div class="text-loader">Sending...</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Where to Find Me</h5>
                        <p>
                            Mominpur, Atala<br>
                            Prayagraj, UP<br>
                            211003 IN
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Me At</h5>
                        <p>
                            atifjamalansari@outlook.com<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Me At</h5>
                        <p>
                            Mobile: (+91) 955 477 9907<br>
                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="{{ absolute_url('https://linkedin.com/in/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://twitter.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://github.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://join.skype.com/invite/Yj0y7MtNA9qd') }}">
                                <i class="fab fa-skype" target="_blank" rel="noopener noreferrer"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:atifjamalansari@outlook.com">
                                <i class="fas fa-envelope" target="_blank" rel="noopener noreferrer"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end contact-social -->

                </div>
                <!-- end contact-info -->
            </div>
            <!-- end contact-secondary -->


        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

    <!-- footer
            ================================================== -->
    {% include 'includes/footer.html.twig' %}
    <!-- end footer -->
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<!-- Login Js -->
	<script src="{{ asset('js/login.js') }}"></script>
{% endblock %}
 