<!-- header
    ================================================== -->
    <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="{{ path('home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Homepage">
            </a>
        </div>
        
        <nav class="header-nav">

            <a href="#" class="header-nav__close" title="close"><span>Close</span></a>

            <div class="header-nav__content">
                <h3>Navigation</h3>
                
                <ul class="header-nav__list">
                    <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                    <li><a class="smoothscroll"  href="#about" title="about">About</a></li>
                    <li><a class="smoothscroll"  href="#works" title="works">Works</a></li>
                    <li><a class="smoothscroll"  href="#clients" title="clients">Clients</a></li>
                    <li><a class="smoothscroll"  href="#contact" title="contact">Contact</a></li>
                </ul>
    
                <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href='#0'>voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
    
                <ul class="header-nav__social">
                    <li>
                        <a href="{{ absolute_url('https://linkedin.com/in/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
                    </li>
                    <li>
                        <a href="{{ absolute_url('https://twitter.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="{{ absolute_url('https://github.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="{{ absolute_url('https://join.skype.com/invite/Yj0y7MtNA9qd') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-skype"></i></a>
                    </li>
                    <li>
                        <a href="mailto:atifjamalansari@outlook.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
                    </li>
                </ul>

            </div> <!-- end header-nav__content -->

        </nav>  <!-- end header-nav -->

        <a class="header-menu-toggle" href="#">
            <span class="header-menu-icon"></span>
        </a>

    </header> <!-- end s-header -->