{% extends 'base.html.twig' %}

{% block body %}
    <!-- header
    ================================================== -->
    {% include 'includes/header.html.twig' %}
    <!-- end s-header -->


    <!-- home
    ================================================== -->
    <section id='home' class="s-home target-section">

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Hello, This is Atif !</h3>

                <h1>
                    Web Developer &amp; <br>
                    Computer Technician. <br>
                    How can I help you?
                </h1>

                <div class="home-content__buttons">
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Start a Project
                    </a>
                    <a href="#about" class="smoothscroll btn btn--stroke">
                        More About Me
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="{{ absolute_url('https://linkedin.com/in/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i><span>LinkedIn</span></a>
            </li>
            <li>
                <a href="{{ absolute_url('https://twitter.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i><span>Twitter</span></a>
            </li>
            <li>
                <a href="{{ absolute_url('https://github.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i><span>GitHub</span></a>
            </li>
            <li>
                <a href="{{ absolute_url('https://join.skype.com/invite/Yj0y7MtNA9qd') }}"><i class="fab fa-skype" target="_blank" rel="noopener noreferrer"></i><span>Skype</span></a>
            </li>
            <li>
                <a href="mailto:atifjamalansari@outlook.com"><i class="fas fa-envelope" target="_blank" rel="noopener noreferrer"></i><span>Email</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Hello There</h3>
                <h1 class="display-2">My Name is Atif Jamal Ansari</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                I'm a Web Developer with a passion to produce websites &amp; web apps that users will enjoy interacting with. I'm also a Computer Technician with conceptual knowledge in Computer Hardware &amp; Networking. <br> I'm someone who is Motivated, Organized, Team Player, Reliable &amp; Professional.
                </p>
                <blockquote><strong>A self learner an Avid Internet Researcher.</strong></blockquote>
                <ul class="disc">
                    <li>My skill set includes but not limited to HTML, CSS, JavaScript, AJAX, JSON, MYSQL to PHP.</li>
                    <li>I also have working experience with some handful frameworks and libraries including Bootstrap (CSS Responsive Framework), jQuery (JavaScript Library), and a mouthful experience with React (JavaScript Framework), Laravel (PHP Framework) &amp; Symfony (PHP Framework).</li>
                    <li>I've hands on experience with Windows &amp; Linux Operation System.</li>
                    <li>I'm familiar with VCS (Version Control Software) and mainly use Git, for that I've working experience.</li>
                    <li>I'm also familiar with DNS Management, Database Management (DBM), Web Hosting, Domain Registration as well as Server Administration.</li>
                </ul>
            </div>
        </div> <!-- end about-desc -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- services
    ================================================== -->
    <section id='services' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What I Do</h3>
                <h1 class="display-2">I’ve got the essentials you need to launch and grow your business</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row services-list block-1-2 block-tab-full">

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-earth"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">Web Development</h3>
                    <ul class="disc">
                        <li>Basic to Intermediate knowledge of LAMP (Linux, Apache, MYSQL, PHP) Stack Tools &amp; Technologies.</li>
                        <li>Effective in maintaining, debugging Project Code Base &amp; adding new features and Modules as per requirements.</li>
                        <li>Familiar with Web Hosting, DNS Management, Domain Registration as well as Server Administration.</li>
                    </ul>
                </div>
            </div>

            <div class="col-block service-item" data-aos="fade-up">
                <div class="service-icon">
                    <i class="icon-cube"></i>
                </div>
                <div class="service-text">
                    <h3 class="h2">IT Support &amp; Maintenance</h3>
                    <ul class="disc">
                        <li>Mere knowledge in installing &amp; troubleshooting all major Windows &amp; Linux Operating System.</li>
                        <li>Pro-efficient in installing Printers, Scanners, Switches, Modems &amp; Other Computer &amp; Networking Peripherals.</li>
                        <li>Effective in maintaining, troubleshooting &amp; upgrading Computers &amp; Laptops.</li>
                    </ul>
                </div>
            </div>

        </div> <!-- end services-list -->

    </section> <!-- end s-services -->


    <!-- works
    ================================================== -->
    <section id='works' class="s-works">

        <div class="intro-wrap">
                
            <div class="row section-header has-bottom-sep light-sep" data-aos="fade-up">
                <div class="col-full">
                    <h3 class="subhead">Recent Works</h3>
                    <h1 class="display-2 display-2--light">I love what I do, check out some of my latest works</h1>
                </div>
            </div> <!-- end section-header -->

        </div> <!-- end intro-wrap -->

        <div class="row works-content">
            <div class="col-full masonry-wrap">
                <div class="masonry">
    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                    <img src="images/portfolio/lady-shutterbug.jpg" 
                                         srcset="images/portfolio/lady-shutterbug.jpg 1x, images/portfolio/lady-shutterbug@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Shutterbug
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->
    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="images/portfolio/the-beetle.jpg"
                                         srcset="images/portfolio/the-beetle.jpg 1x, images/portfolio/the-beetle@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    The Beetle
                                </h3>
                                <p class="item-folio__cat">
                                    Web Development
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->
    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-grow-green.jpg" class="thumb-link" title="Grow Green" data-size="1050x700">
                                    <img src="images/portfolio/grow-green.jpg" 
                                         srcset="images/portfolio/grow-green.jpg 1x, images/portfolio/grow-green@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Grow Green
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                    <img src="images/portfolio/lady-shutterbug.jpg" 
                                         srcset="images/portfolio/lady-shutterbug.jpg 1x, images/portfolio/lady-shutterbug@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Shutterbug
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->
                    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                    <img src="images/portfolio/lady-shutterbug.jpg" 
                                         srcset="images/portfolio/lady-shutterbug.jpg 1x, images/portfolio/lady-shutterbug@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Shutterbug
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->
                    
                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-grow-green.jpg" class="thumb-link" title="Grow Green" data-size="1050x700">
                                    <img src="images/portfolio/grow-green.jpg" 
                                         srcset="images/portfolio/grow-green.jpg 1x, images/portfolio/grow-green@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Grow Green
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->

                    <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-beetle.jpg" class="thumb-link" title="The Beetle Car" data-size="1050x700">
                                    <img src="images/portfolio/the-beetle.jpg"
                                         srcset="images/portfolio/the-beetle.jpg 1x, images/portfolio/the-beetle@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    The Beetle
                                </h3>
                                <p class="item-folio__cat">
                                    Web Development
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->

                     <div class="masonry__brick" data-aos="fade-up">
                        <div class="item-folio">
                                
                            <div class="item-folio__thumb">
                                <a href="images/portfolio/gallery/g-shutterbug.jpg" class="thumb-link" title="Shutterbug" data-size="1050x700">
                                    <img src="images/portfolio/lady-shutterbug.jpg" 
                                         srcset="images/portfolio/lady-shutterbug.jpg 1x, images/portfolio/lady-shutterbug@2x.jpg 2x" alt="">
                                </a>
                            </div>
    
                            <div class="item-folio__text">
                                <h3 class="item-folio__title">
                                    Shutterbug
                                </h3>
                                <p class="item-folio__cat">
                                    Branding
                                </p>
                            </div>
    
                            <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                                <i class="icon-link"></i>
                            </a>
    
                            <div class="item-folio__caption">
                                <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde dolorem corrupti neque nisi.</p>
                            </div>
    
                        </div>
                    </div> <!-- end masonry__brick -->

                </div> <!-- end masonry -->
            </div> <!-- end col-full -->
        </div> <!-- end works-content -->

    </section> <!-- end s-works -->


    <!-- clients
    ================================================== -->
    <section id='clients' class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Testimonials</h3>
                <h1 class="display-2">I've been honored to
                partner up with these clients</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row clients-testimonials" data-aos="fade-up">
            <div class="col-full">
                <div class="testimonials">

                    <div class="testimonials__slide">
                        <div class="col-two tab-full">
                            <img src="images/avatars/user-01.jpg" alt="Author image" class="testimonials__avatar">                            
                        </div>

                        <div class="col-ten tab-full">
                            <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum. 
                            Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.
                            Excepturi nam cupiditate culpa doloremque deleniti repellat.</p>
                            <div class="testimonials__info">
                                <span class="testimonials__name">Tim Cook</span> 
                                <span class="testimonials__pos">CEO, Apple</span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="testimonials__slide">
                        <div class="col-two tab-full">
                            <img src="images/avatars/user-05.jpg" alt="Author image" class="testimonials__avatar">
                        </div>

                        <div class="col-ten tab-full">
                            <p>Excepturi nam cupiditate culpa doloremque deleniti repellat. Veniam quos repellat voluptas animi adipisci. Nisi eaque consequatur. Quasi voluptas eius distinctio. Atque eos maxime. Qui ipsam temporibus quisquam vel.</p>
                            <div class="testimonials__info">
                                <span class="testimonials__name">Sundar Pichai</span> 
                                <span class="testimonials__pos">CEO, Google</span>
                            </div>
                        </div>

                    </div>

                    <div class="testimonials__slide">
                        
                        <div class="col-two tab-full">
                            <img src="images/avatars/user-02.jpg" alt="Author image" class="testimonials__avatar">
                        </div>

                        <div class="col-ten tab-full">
                            <p>Repellat dignissimos libero. Qui sed at corrupti expedita voluptas odit. Nihil ea quia nesciunt. Ducimus aut sed ipsam.  Autem eaque officia cum exercitationem sunt voluptatum accusamus. Quasi voluptas eius distinctio.</p>
                            <div class="testimonials__info">
                                <span class="testimonials__name">Satya Nadella</span> 
                                <span class="testimonials__pos">CEO, Microsoft</span>
                            </div>
                        </div>

                    </div>

                </div><!-- end testimonials -->
                
            </div> <!-- end col-full -->
        </div> <!-- end client-testimonials -->

    </section> <!-- end s-clients -->
    
    
    <!-- blog
    ================================================== -->
    <section id='blog' class="s-blog">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">My Personal Blog</h3>
                <h1 class="display-2">Here I share my views &amp; other stuffs</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row blog-content" data-aos="fade-up">
            <div class="col-full">
                <div class="content">

                    <div class="content__slide">
                        
                        <div class="tab-full">
                            <div class="content__info">
                                <a href="#" target="_blank" rel="noopener noreferrer">
                                    <span class="content__name">Tim Cook</span> 
                                </a>
                            </div>
                            <p>Qui ipsam temporibus quisquam vel. Maiores eos cumque distinctio nam accusantium ipsum. 
                            Laudantium quia consequatur molestias delectus culpa facere hic dolores aperiam. Accusantium quos qui praesentium corpori.
                            Excepturi nam cupiditate culpa doloremque deleniti repellat.</p>
                        </div>

                    </div>

                </div><!-- end content -->
                
            </div> <!-- end col-full -->
        </div> <!-- end blog-content -->



    </section> <!-- end s-blog -->
        
    <section id='subscribe' class="s-subscribe">

        <div class="overlay"></div>
        <div class="row blog-subscription">

            <div class="col-six tab-full left blog-desc">
                
                <h4 class="display-2--light">Subscription</h4>

                <p>Proin eget tortor risus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt. Quaerat voluptas autem necessitatibus vitae aut.</p>

            </div>

            <div class="col-six tab-full right blog-subscribe">

                <h4 class="display-2--light">Get Notified</h4>

                <p>Quia quo qui sed odit. Quaerat voluptas autem necessitatibus vitae aut non alias sed quia. Ut itaque enim optio ut excepturi deserunt iusto porro.</p>

                <div class="subscribe-form">
                    <form id="subscribeForm" class="group" novalidate="true">
                        <input type="email" value="" name="subscribeEmail" class="email" id="subscribeEmail" placeholder="Email Address" required="">
                        <input type="submit" name="subscribe" value="Subscribe">
                        <label for="subscribeEmail" class="subscribe-message"></label>
                    </form>
                </div>

            </div>

        </div>
    </section>


    <!-- contact
    ================================================== -->
    <section id='contact' class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Contact Me</h3>
                <h1 class="display-2 display-2--light">Reach out for a new project or just say hello</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">Send Me A Message</h3>

                <form name="contactForm" id="contactForm" method="POST" action="{{ path('contact') }}" novalidate="novalidate">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="contactName" type="text" id="contactName" placeholder="Your Name" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactPhone" type="text" id="contactPhone" placeholder="Phone"class="full-width">
                    </div>
                    <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10" cols="50" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Submit</button>
                        <div class="submit-loader">
                            <div class="text-loader">Sending...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Where to Find Me</h5>
                        <p>
                            Mominpur, Atala<br>
                            Prayagraj, UP<br>
                            211003 IN
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Me At</h5>
                        <p>
                            atifjamalansari@outlook.com<br>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Me At</h5>
                        <p>
                            Mobile: (+91) 955-477-9907<br>
                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="{{ absolute_url('https://linkedin.com/in/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://twitter.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://github.com/atfjmlans') }}" target="_blank" rel="noopener noreferrer">
                                <i class="fab fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="{{ absolute_url('https://join.skype.com/invite/Yj0y7MtNA9qd') }}">
                                <i class="fab fa-skype" target="_blank" rel="noopener noreferrer"></i>
                            </a>
                        </li>
                        <li>
                            <a href="mailto:atifjamalansari@outlook.com">
                                <i class="fas fa-envelope" target="_blank" rel="noopener noreferrer"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end contact-social -->

                </div>
                <!-- end contact-info -->
            </div>
            <!-- end contact-secondary -->


        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->


    <!-- footer
    ================================================== -->
    {% include 'includes/footer.html.twig' %}
    <!-- end footer -->
{% endblock %}