<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

    <head>
        <!--- basic page needs
        ================================================== -->
        <meta charset="utf-8">
        <title>{% block title %} Atif Jamal Ansari | Freelancer {% endblock %}</title>
        <meta name="description" content="">
        <meta name="author" content="Atif Jamal Ansari">

        <!-- mobile specific metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/vendor.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        {% endblock %}

        <!-- script
        ================================================== -->
        <script src="{{ asset('js/modernizr.js') }}"></script>
        <script src="{{ asset('js/pace.min.js') }}"></script>

        <!-- favicons
        ================================================== -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('favicon/site.webmanifest') }}">

    </head>

    <body id="top">
        {% block body %}
            <noscript>
                Please enable javascript for the website to work properly!
            </noscript>
        {% endblock %}
        {% block javascripts %}
        <!-- Java Script
        ================================================== -->
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('js/plugins.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
